.Card {
  @include flex(row, space-between, center, 0);
  padding: 2%;
  margin: 2% 5%;
  border-radius: 20px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.35s ease-in-out;
  animation: pop 0.35s;

  &:hover {
    transform: scale(1.02);
  }

  .delete {
    width: 20px;
    height: 20px;
    @include flex(column, center, center, 0);
    background-color: rgb(221, 49, 49);
    border-radius: 50%;
    font-size: 60%;
    cursor: pointer;
  }
}

.undone {
  background-color: rgb(77, 130, 222);
  color: #fff;
}

.done {
  background-color: rgb(84, 111, 157);
  transform: scale(0.99);

  .todo {
    text-decoration: line-through;
  }

  .delete {
    color: #ffffff;
  }
}

@keyframes pop {
  from {
    transform: scale(0.8);
  }
  to {
    transform: scale(1);
  }
}
