.SearchBar {
  height: 50px;
  @include flex(row, center, center, 0);
  flex-wrap: nowrap;
  margin: 3% 0;

  .searchContainer {
    position: relative;
    width: 500px;
    padding: 0 2%;
    @include flex(row, center, center, 0);

    .search {
      width: 100%;
      max-width: 500px;
      height: 50px;
      padding: 2% 6%;
      border: solid rgb(77, 130, 222) 2px;
      border-radius: 50px;
      outline: none;
      box-shadow: inset 3px 3px 4px rgba(0, 0, 0, 0.279);

      @include screenSize(768px, 3000px) {
        padding: 2%;
      }
    }

    input[type="submit"] {
      position: absolute;
      top: 50%;
      right: 3%;
      transform: translate(0, -50%);
      width: 40px;
      height: 40px;
      border: none;
      border-radius: 50%;
      background-color: rgb(47, 62, 88);
      color: white;
      cursor: pointer;
    }
  }
}
.alertHidden {
  width: 0;
  height: 0;
  position: absolute;
  top: -100%;
  right: 0;
  font-size: 0;
  transition: all 0.5s;
}

.alert {
  width: 30%;
  height: auto;
  position: absolute;
  top: 2%;
  right: 50%;
  transform: translate(50%);
  font-size: initial;
  color: white;
  text-align: center;
  background-color: rgb(226, 35, 18);
  border-radius: 20px;
  padding: 1%;
  transition: width 0.35s, height 0.2s, font-size 0.35s;
}
