.empty {
  @include flex(column, center, center, 0);
  animation: floating 1.5s ease-in-out infinite alternate-reverse;

  img {
    width: 50px;
    height: auto;
  }
}

.loginFor {
  @include flex(column, center, center, 0);
  img {
    width: 50px;
    height: auto;
  }
}

@keyframes floating {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(12px);
  }
}
